<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>

      <h1>Private Wikis</h1>

      <% if(currentUser && currentUser.role != "standard") { %>
      <a href="/wikis/new" class="btn btn-success">New Wiki</a>
      <ul class="list-group">
        <% wikis.forEach((wiki) => { %>
        <li class="list-group-item">
          <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
        </li>
        <% }) %>
      <% } else if(currentUser && currentUser.role == "standard") { %>
      <a href="/users/upgrade" class="btn btn-danger">Upgrade to Premium</a>
      <% } %>
      <ul class="list-group">
        <% wikis.forEach((wiki) => { %>
        <li class="list-group-item">
          <p>You need to be a Premium Member to view Private Wikis</p> </a>
        </li>
        <% }) %>
      </ul>
    </main>
  </body>
</html>
